
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(84, 17, 17, 0.9), rgba(221, 214, 214, 0.5)),url(../assets/bg.jpg);
}

ul li {
    list-style: none;
}


a ,a:visited {
    color: white;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 8px;

  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(138, 198, 255);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(88, 169, 255);
  }


.container {
    padding: 2rem;

}

.avatar {
    border-radius: 100%;

}

.mt5 {
    margin-top: 5rem;
}
.mb3 {
    margin-bottom: 3rem;
}
.mb1 {
    margin-bottom: 1rem;
}
/**** FlexBox ****/
.f {
    display: flex;
}
.fc {
    flex-direction: column;
}
.fw {
    flex-wrap: wrap;
}
.jc{
    justify-content: center;
}
.ac {
    align-items: center;
}
.js{
    justify-content: start;
}
.as {
    align-items: flex-start;
}
.je{
    justify-content: end;
}
.ae {
    align-items: flex-end;
}
.jb{
    justify-content: space-between;
}
.ab {
    align-items: space-between;
}
.ja{
    justify-content: space-around;
}
.aa {
    align-items:  space-around;
}
.jst{
    justify-content: stretch;
}
.ast {
    align-items:  stretch;
}
.hf {
    height: 100%;
}
.wf {
    width: 100%;
}
.c {
    margin-left: auto;
    margin-right: auto;
}
.f1 {
    flex: 1;
}
.tc {
    text-align: center;
}

.tsm {
    font-size: 0.9rem !important;
}
/********* fortify forms ************/


/*messages*/

.msgs {
    width: 400px;
    text-align: center;
}
.msg-success{
    color: rgb(92, 218, 60);
    padding: 0.2rem 0;
    font-size: 0.8rem;
}

.errors {
    width: 400px;
    margin-top: 0.5rem;
}
.error{
    color: rgb(218, 60, 60);
    padding: 0.2rem 0;
    font-size: 0.8rem;
}
/*form*/

.sign-form {
    width: 400px;

}

.form {
    padding: 1rem;
    box-shadow: 0 0 2px 2px rgb(218, 218, 218);
}

.form .group {
    padding: 0.5rem 0;
}

.form .group label {
    margin-right: 0.5rem;
}
.form .group input {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
}

.form .link {
    color: rgb(181, 60, 60);
    padding: 0.1rem 1rem;
}

/**** buttons ****/

button , input {
    border: none;
    background-color: transparent;
    outline: none;

}
button , a {
    cursor: pointer;

}
.btn {
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    opacity: 0.85;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgb(208, 208, 208);
    cursor: pointer;
}
.btn-auth {
    background-color: rgb(57,196,249);
    color: white;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 0.5rem 1rem ;
}
.btn:active , .btn:hover  {
    opacity: 1;
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
}

.btn-primary {
    background-color: rgb(14, 97, 185);
    color: white;
}

.btn-tweet {
    background-color: rgb(7, 45, 33);
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    max-width: 100px;
}
.btn-tweet-red {
    background-color: rgb(255, 93, 93);
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
}
.btn-grey {
    background-color: rgb(116, 155, 170);
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
}
.card {
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 1px 1px 2px 1px rgb(208, 208, 208);
    padding: 2rem;
    text-align: center;
}

.card-head {
    font-weight: 500;
}
.card-body {
    margin-top: 1rem;
}


/**tweety**/

.t-container {
    max-width: 1024px;
    min-width: 400px;
    height: 100%;

}
.t-main {
    padding: 0rem 1rem;
    position: relative;
    flex: 1;
}
.t-header {
    width: 100%;
    padding: 1rem 2rem;
}

.t-brand {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0.5rem;
}
.t-nav  {
    width: 170px;
    padding: 0.5rem 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    right: 0;

}

.t-nav .nav-links .nav-link   {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(26, 26, 26);
    padding: 0.2rem 0;
    margin: 0.3rem 0;

}
.t-nav .nav-links .nav-link:hover {
    font-weight: 600;
    color: rgba(26, 26, 26, 0.7);
}

.t-nav .nav-links .logout   {

    color: rgb(230, 50, 50);

}
.t-nav .nav-links .logout:hover   {

    color: rgb(223, 76, 76);

}



.t-feed {
    flex: 1;
    padding: 0 2rem;
    width: 100%;

}

.t-feed>* {
    width: 100%;
    max-width: 650px;

}
.t-feed .t-form {
    padding: 1rem;
    box-shadow: 0 0 3px 1px rgb(226 160 0);
    border-radius: 5px;
    background-color: #222a29;
}
.t-feed .group {
    width: 100%;
}
.t-feed .group-body textarea {
    width: 100%;
    height: 4.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    resize: none;
    background-color: #f7f9ff;
    color: black;
    border-bottom: 2px solid rgb(11, 15, 19);
    padding-bottom: 1.5rem;
    border-radius: 10px;
    font-weight: bold;
}
.t-feed .group-body textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
.t-feed .group-body textarea::-webkit-scrollbar {

        display: none;
    }
/* .t-feed .group-body textarea:focus {
    height: 5.5rem;
    transition: all 0.1s ease-in-out;

} */

.t-feed .group-footer {
    padding-top: 0.5rem;
}

.t-feed .group-footer img {
    width: 40px;
}

.t-feed .feed {
    box-shadow:0 0 2px 1px rgb(160, 140, 28);
    flex: 1;
    margin: 1rem 0;
}

.user-card {
    box-shadow:0 0 1px 1px rgb(188, 199, 42);

    margin: 0.5rem;
    padding: 0.5rem;
}

.user-card .avatar{
    margin-right: 1rem;
}
.tweet {
    padding: 0.5rem;
    border-bottom: 1px solid rgb(198, 225, 250);
    background-color: #222a29;
}
.t-avatar {
    width: 40px;
}
.tweet .t-avatar{

    margin : 0.5rem 1rem 0.5rem 0.5rem
}
.tweet .t-content{
    padding-top: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    max-width: 500px;
    position: relative;

}
.tweet .t-content .name{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.tweet .t-content .body{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    color: white;
}
.tweet .t-content .t-images{
    max-height: 250px;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: rgb(223, 231, 235);
    box-shadow: 0 0 2px 1px rgb(173, 197, 208);
    /* overflow: hidden; */
    flex-wrap: nowrap;
    /* flex-basis: 100%; */
    /* width: 100%; */
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;

}

.tweet .t-content .t-images .fa-arrow-left ,
.tweet .t-content .t-images .fa-arrow-right  {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background-color: rgb(212, 232, 253);
    padding: 0.5rem;
    border-radius: 100%;
    opacity: 0.9;
    cursor: pointer;
}
.tweet .t-content .t-images .fa-arrow-left:hover ,
.tweet .t-content .t-images .fa-arrow-right:hover  {

    background-color: rgb(142, 196, 255);
    opacity: 1;
}
.tweet .t-content .t-images .fa-arrow-left  {

    left: 0.2rem;

}
.tweet .t-content .t-images .fa-arrow-right  {
    right: 1rem;
}
.tweet .t-content .t-images .image{
    background-color: rgb(166, 211, 252);
    box-shadow: 0 0 2px 1px rgb(166, 211, 252);
    width: 100%;
    overflow: hidden;
    min-width: 100%;


}
.tweet .t-content .t-images .image img{
    width: 100%;
}
.tweet .t-content .react form button{

    margin: 0 0.4rem;
    color: rgb(121, 121, 121);
}
.tweet .t-content .react form button>i{
    border-radius: 100%;
    margin: 0 0.05rem;
    box-shadow: 0 0 2px 2px inherit;
}
.tweet .t-content .react form button.like{
    color: rgb(54, 109, 181);

}
.tweet .t-content .react form button.like i{
    background-color: rgba(125, 170, 230, 0.849);
    box-shadow: 0 0 1px 4px rgba(173, 197, 230, 0.85);

}
.tweet .t-content .react form button.dislike{
    color: rgb(177, 55, 55);
}

.tweet .t-content .react form button.dislike i{
    background-color:rgba(224, 127, 127, 0.849);
    box-shadow: 0 0 1px 4px rgba(223, 171, 171, 0.815);

}
.t-friends {
    width: 185px;
    background-color: #383D63;
    border-radius: 5px;
    padding: 0.2rem 0rem;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    right: 0;
}
.t-friends h3 {
    margin: 1rem;
}
.friend {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}
.friend:hover {
    background-color: #d3d5dc;

}
.friend img {
    width: 35px;
    margin-right: 0.5rem;
}
.friend .name{
    color: rgb(26, 26, 26);
    font-weight: 400;
    font-size: 0.85rem;
}
.friend:hover a {
    color: rgba(26, 26, 26, 0.678);

}
.menu {
    display: none;
}


/*** Profile ***/


.cover {
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
}


.cover .cover-thumb {
    position: absolute;
    z-index: -1;
    max-height: 220px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.cover .cover-thumb img{
    width: 100%;
}

.cover-content {
    margin-top: 9rem;
}
.cover .cover-content .user-info{
    padding: 0.5rem;
    width: 100%;
    justify-content: space-between;

}
.cover .cover-content .user-info > *{
    width: 150px;
}

.cover .cover-content .user-info .user-avatar{

    width: 120px;
    box-shadow: 0 0 2px 2px rgb(116, 155, 170);

}
.cover .cover-content .user-info .user-name{
    font-size: 0.8;

}

.cover .cover-content .user-info .user-name>*:first-child:hover{
    color: rgba(26, 26, 26, 0.9);

}
.user-param {
    height: 3rem ;

}
.cover .cover-content .user-btn {
    margin: 0.1rem;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    border-radius: 20px;


}
.cover .cover-content .user-param * {
    margin-left: auto;



}
.cover .cover-content .user-bio {
    padding: 0.5rem;
    font-size: 0.85rem;
    text-align: center;
}



/***** pagination ******/
nav.pagination {
    padding: 0.5rem;
}
nav.pagination  .item ,nav.pagination  .link{
    padding: 0.5rem 0.7rem;
    border-radius: 20px;
    font-size: 0.8rem;

}
nav.pagination  .item {
    color:  rgb(209, 209, 209) ;
    border : 2px solid rgb(209, 209, 209);

}
nav.pagination  .link{
    color: rgb(82, 82, 82);
    font-weight: 500;
    border : 2px solid rgb(112, 112, 112);

}
nav.pagination  .link:hover{
    color: rgb(0, 0, 0) ;
}
nav.pagination  .link:focus{
    outline: none;
    box-shadow: 0 0 1px 1px rgb(88, 160, 255);
}

nav.pagination  .link:active{
    color: rgb(0, 0, 0);
    background-color: rgb(121, 121, 121);
    transition: all 0.15s ease-in-out;
}

nav.pagination  .info{
    font-size: 0.8rem;
    color: rgb(82, 82, 82);

}


.hidden {
    display: none;

}
.notifications {



}

.notification-card.read {
    background-color:rgb(228, 241, 253);
    box-shadow:0 0 1px 1px rgb(228, 240, 252);
    color: rgb(155, 155, 155);
    margin: 0.5rem;
    padding: 0.5rem;
}
.notification-card.unread {
    background-color:rgb(198, 225, 250);
    box-shadow:0 0 1px 1px rgb(198, 225, 250);
    color: rgb(51, 51, 51);
    margin: 0.5rem;
    padding: 0.5rem;
}
.notifications-count {
    border-radius: 20px;
    color: white;
    padding: 0.1rem 0.2rem;
    background-color: rgb(57,196,249);
}

input{
    display: relative;
}



.files {
    color: rgb(155, 155, 155);
    margin-right: 0.5rem;
}
.files:hover {
    color: rgb(112, 112, 112);

}
.files .files-count {
    font-size: 0.9rem;
}
.files .fa-trash {
    color: red;
    cursor: pointer;


}

.hidden {
    display: none !important;
}

.files .fa-files {
    width: 1.5rem;
    overflow: hidden;
    cursor: pointer;
}
.files.contain{
    color : rgb(138, 198, 255)
}
.files.contain:hover{
    color : rgb(107, 183, 253)
}
input.fa-files::-webkit-file-upload-button {
    visibility: hidden;
}




@media (max-width : 820px) {
    .t-header {
        /* padding: unset; */
        padding-bottom: 0;
    }
    .t-main {
        flex-direction: column;
    }
    .t-feed {
        padding: unset;
        padding: 1rem;
    }
    .feed {
        padding: unset;
    }
    .feed .tweet {
        padding: unset;
        padding: 0.5rem 0;

    }
    .t-nav{
        width: 100%;
        max-width: unset;
        flex-wrap: wrap;
        align-items: center;
        visibility: collapse;
        position: relative;
        height: 0;
        opacity: 0;
        transition: all 0.2s ease-out;
        top: unset;
        left: unset;
    }
    .t-nav .nav-links{
        width: 100%;
        margin: unset;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-height: 120px;


    }
    .t-nav .nav-tweet{
        display: none;

    }
    .t-nav .nav-links  a{

        width: 80px;

        margin: unset;

        margin: 0.5rem 1rem;

    }


    .t-friends {
        position: relative;
        top: unset;
        right: unset;
        max-width: unset;
        padding: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .t-friends h3 {
        display: none;

    }
    .friend {
        padding: 0.3rem 1.2rem;
        display: flex;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
    }
    .menu {

        display: block;
        margin-left: auto;
        cursor: pointer;

    }
    .menu-active {
        visibility: visible;
        height: unset;
        opacity: 1;
        transition: all 0.4s ease-in-out;
    }
}
